* {
    font-family: 'PT Serif', serif;
}

.fundo {
    background-color: rgb(229,229,229);
}

.cor-rosa-claro{
    background-color: rgb(236,158,158);
}

.cor-da-nav {
    background-color: rgb(242,110,183)
}

.tamanho {
    width: 395px;
}

.cor-verde {
    background-color: rgb(160,234,169)
}

.cor-roxo {
    background-color: rgb(162,161,236)
}

.cor-azul {
    background-color: rgb(110,185,242)
}

aside {
    color:rgb(0, 102, 204);
}

.tamanho-aside{
    height: 650px;
}

.footer-cor {
    background-color: rgb(193,196,111)
}